* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
}
.container {
border: chocolate 2px solid;
max-width: 1440px;
height: 200vh;
margin: 0 auto;
}
/*-------------------------------------------------*/
/* header */
/*-------------------------------------------------*/
header {

    border: rgb(100, 62, 236) 2px solid;
    
}
.header-nav {
    
}
.logo {
    
    
   
}
/* nawigacja */
.header-nav-ul {
    padding: 10px;
    float: right;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.menu_items {
    margin: 5px;
    text-decoration: none;
    color: purple;
}
            /*photo*/
.header-photo {
    background: 
    linear-gradient(
        rgba(0, 0, 0, 0.6),
        rgba(0, 0, 0, 0.6)
      ),
    url(img/browniewww.jpg);
    padding: 10px;
    background-size: cover;
    height: 40vh;
    opacity: .7;
}
.header-photo h3 {
    text-align: center;
    font-size: 400%;
    color: #f3f3f7;
}
.header-photo h5 {
    display: inline-block;
    height: 20vh;
    text-align: left;
    font-size: 120%;
    color: purple;  
}


            /* contact */
.header-contact {

    padding: 10px;
    text-align: center;
    
}
.header-contact p {

    color: purple;
    font-size: 140%;
    text-align: center;
    margin: 20px;
}
.header-contact a {
    text-decoration: none;
    color: purple;
    padding: 5px;
    background-color: sandybrown;
    border-radius: 50px;
}

/*-------------------------------------------------*/
/* section about me & skills */
/*-------------------------------------------------*/

.section-about {
    border: 5px solid #c7f301;
  padding: 20;
  display: flex;
  flex-direction: column;
}
/* about me */

.section-about-me {
    background-color: #fafaff;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    float: left;
    width: 90%;
    margin-top: 2%;
}
.section-about-me-left {
    border: brown solid 2px;
    padding: 30px;
}
.section-about-me-right {
    border: rgb(84, 245, 63) solid 3px;
    padding: 30px;
}

/* skills*/
.section-skills {
    background-color: #fafaff;
    padding: 20px;
 margin-top: 2%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    float: right;
    width: 90%;
}
.section-skills-left {
    border: rgb(100, 62, 236) 2px solid;
    padding: 30px;
}
.section-skills-center {
    border: rgb(100, 62, 236) 2px solid;
    padding: 30px;
}
.section-skills-right {
    border: rgb(100, 62, 236) 2px solid;
    padding: 30px;
}

/*-------------------------------------------------*/
/* section gallery (Portfolio) */
/*-------------------------------------------------*/


.section-Portfolio {
    border: rgb(245, 63, 87) solid 2px;
margin: 3% auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.section-Portfolio p {
    display: inline-block;
    text-align: center;
    font-size: 200%;
    color: #ff;
    border: rgb(126, 20, 243) solid 2px;
}
.section-Portfolio-gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: rgb(13, 72, 100) solid 2px;
}
.section-Portfolio-img {
    border: rgb(126, 206, 243) solid 2px;
    padding: 20px;
    background-size: cover;
    height: 40%;
    opacity: .7;
    bottom: 0%;
}

/*-------------------------------------------------*/
/* section contact */
/*-------------------------------------------------*/


.section-Contact-us {
    border: rgb(211, 31, 166) solid 2px;
}
.section-Contact-us>p {
    display: block;
    /*border: rgb(223, 150, 42) solid 5px; */
    padding: 10px auto 0 20px;
}
.section-Contact-us-wrapper {
    border: rgb(1, 112, 20) solid 2px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}
.section-Contact-us-wrapper-left {
    width: 40%;
    display: flex;
    flex-direction: column;
    background-color: rgb(143, 77, 143);
    color: white;
}
.section-Contact-us-wrapper-left-email img {
    
    padding-top: 4%;
    padding-left: 10%;   
    
    filter: invert(1);
}
.section-Contact-us-wrapper-left-text {
    line-height: 172.35%;
    letter-spacing: 0.04em;
    padding-left: 10%;   
}
.section-Contact-us-wrapper-left img {
    max-width: 24px;
    float: left;
    margin: 1% 3%;
    filter: invert(1);
    
}
.section-Contact-us-wrapper-left-icon {
    padding-left: 10%;   
    margin-top: 40px;
}
.section-contactr-left-designer {
    margin-top: 20px;
    font-weight: 700;
    font-family: 'Ubuntu', sans-serif;
    padding-left: 10%;   
    margin-bottom: 2%;
}
.section-contactr-left-adres{
    font-family: 'Ubuntu', sans-serif;
    color: white;
   padding-left: 10%;   
   padding-bottom: 2%;
}
.section-Contact-us-wrapper-right {
    border: rgb(131, 105, 248) solid 2px;
    width: 40%;   
    padding: 20px;
    
}
footer {
    text-align: center;
}