* {
    margin: 0;
    padding: 0;
}
body {
    font-family: Raleway, sans-serif;
    box-sizing: border-box;
}
.container {
border: chocolate 2px solid;
max-width: 1440px;
height: 100vh;
margin: 0 auto;
}
/*-------------------------------------------------*/
/* header */
/*-------------------------------------------------*/
header {

    border: rgb(100, 62, 236) 2px solid;
    
}
.header-nav {
    
}
.logo {
    
    
   
}
/* nawigacja */
.header-nav-ul {
    padding: 10px;
    float: right;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.menu_items {
    margin: 5px;
    text-decoration: none;
    color: purple;
}
 /*photo*/
.header-photo {
   /* background: linear-gradient(
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6); */
    background-image: url(img/browniewww.jpg);
    padding: 10px;
    background-size: cover;
    height: 40vh;
    opacity: .7;
}
.header-photo h3 {
  
    text-align: center;
    font-size: 400%;
    color: #ff;
}
.header-photo h5 {
    display: inline-block;
    height: 20vh;

    text-align: left;
    font-size: 120%;
    color: purple;  
}


/* contact */
.header-contact {

    padding: 10px;
    text-align: center;
    
}
.header-contact p {

    color: purple;
    font-size: 140%;
    text-align: center;
    margin: 20px;
}
.header-contact a {
    text-decoration: none;
    color: purple;
    padding: 5px;
    background-color: sandybrown;
    border-radius: 50px;
}

/*-------------------------------------------------*/
/* section about me & skills */
/*-------------------------------------------------*/

section {
    border: 3px solid #c7f301;
  margin: 20;
}
/* about me */

.section-about-me {
    background-color: #fafaff;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    float: left;
    width: 90%;
    margin-top: 2%;
}
.section-about-me-left {
    border: brown solid 2px;
    padding: 30px;
}
.section-about-me-right {
    border: rgb(84, 245, 63) solid 2px;
    padding: 30px;
}

/* skills*/
.section-skills {
    background-color: #fafaff;
    padding: 20px;
 margin-top: 2%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    float: right;
    width: 90%;
}
.section-skills-left {
    border: rgb(100, 62, 236) 2px solid;
    padding: 30px;
}
.section-skills-center {
    border: rgb(100, 62, 236) 2px solid;
    padding: 30px;
}
.section-skills-right {
    border: rgb(100, 62, 236) 2px solid;
    padding: 30px;
}