* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
    font-size: 1em;
}
.container {
    border: #ad5389 3px solid;
    max-width: 1440px;
    height: 200vh;
    margin: 0 auto;
}
/*-------------------------------------------------*/
/* header */
/*-------------------------------------------------*/
header {
    
}
.header-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
}

/* nawigacja */
.header-nav-ul {
    padding: 1% 2%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 1.5em;
    letter-spacing: 0.02em;
    font-weight: bold;
    text-shadow: 1px 1px 4px rgb(112, 111, 111);

}
.menu_items {
    display: inline-block;
    padding: 0 1.3rem;
    text-decoration: none;
    color: #411857;

}
            /*photo*/
.header-photo {
    background: 
    linear-gradient(
        rgba(143, 77, 143, 0.1),
        rgba(143, 77, 143, 0.1)
      ),
    url(img/baner.jpg);
    background-size: cover;
    opacity: .7;
    height: 25em;
}
.header-photo h3 {
    padding: .8em;
    text-align: center;
    font-size: 400%;
    color: #f3f3f7;
    text-shadow: 2px 2px 1px rgb(20, 20, 20);

}
.header-photo h5 {
    padding-bottom: .2em;
    text-align: center;
    font-size: 200%;
    color: #f3f3f7;
    text-shadow: 2px 2px 1px rgb(20, 20, 20);
}

            /* contact */
.header-contact {
    padding: 4em;
    text-align: center;
    
}
.header-contact p {
    color: purple;
    font-size: 200%;
    text-align: center;
    margin: 1.5rem;
    padding-bottom: 2rem;
    text-shadow: 1px 1px 3px rgb(112, 111, 111); 
}
.header-contact a {

    text-decoration: none;
    color: whitesmoke;
    padding: 1rem;
    background: linear-gradient(270deg,  #ad5389 14%, #3c1053 68.5%);
    border-radius: 50px;
    font-size: 2em;
    margin: 1.2rem;
}

/*-------------------------------------------------*/
/* section about me & skills */
/*-------------------------------------------------*/

.section-about {
    border: rgb(134, 134, 20) 3px solid;
    display: flex;
    flex-direction: column;
}
/* about me */

.section-about-me {
    background-color: #fafaff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 92%;
    height: 50%;
    margin-top: 2%;
    
}
.section-about p {
    display: inline-block;
    padding-left: 1%;
    font-size: 200%;
    color: #ff;
    margin-top: 1em;    
    color: purple;
    font-weight: 700;
}
.section-about-me-left {

    padding: 1em;;
}
/* about me let side */
.section-about-me-left{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.section-about-me-left>img{

    width: 12em;
    height: 12em;
    border-radius: 50%;
}
.section-about-me-left-ul {
    display: flex;
    flex-direction: column;
    width: 66%;

}
.section-about-me-left-ul li {
 
    list-style: none;
    font-size: 1.5em;
    color: purple;
    padding: .8rem;
    
}
.section-about-me-left-ul li span {
    color: rgb(36, 36, 36);
    font-weight: 700;

}
/* about me right */
.section-about-me-right {
  
    padding: 0 1rem 1rem 1rem;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
    width: 50%;
}
 /* text about me (right side) */
.section-about-me-right p {
    font-size: 1.2em;
    padding: 1em;
    border-left: .4rem dotted purple;
}

/* skills*/
.section-skills {
    float: right;
    background-color: #fafaff;
    padding: 3em;
    margin-top: 2%  ;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    width: 85%;
    align-self: flex-end;
    color: purple;
    height: 50%;
    
}
.section-skills-left {
    border-right: .4rem dotted rgb(143, 77, 143);
    padding: 1em;
    text-align: center;
    width: 32%;

}
.section-skills-center {
    border-right: .4rem  dotted rgb(143, 77, 143);
    padding: 1em;
    text-align: center;
    width: 32%;
}
.section-skills-right {
    width: 32%;
    padding: 1em;
    text-align: center;
}

/*-------------------------------------------------*/
/* section gallery (Portfolio) */
/*-------------------------------------------------*/


.section-Portfolio {
    border: rgb(245, 63, 87) solid 2px;
    margin: 3% auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.section-Portfolio p {
    display: inline-block;
    padding-left: 1%;
    font-size: 200%;
    color: #ff;
    font-weight: 700;
    color: purple;
}
.section-Portfolio-gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: rgb(13, 72, 100) solid 2px;
}
.section-Portfolio-img {
    border: rgb(126, 206, 243) solid 2px;
    padding: 20px;
    background-size: cover;
    height: 40%;
    opacity: .7;
    bottom: 0%;
}

/*-------------------------------------------------*/
/* section contact */
/*-------------------------------------------------*/


.section-Contact-us {
    background: #FAFAFF;
    padding-bottom: 3%;
    padding-top: 2%;
}
.section-Contact-us>p {
    display: inline-block;
    padding-left: 1%;
    font-size: 200%;
    color: purple;
    font-weight: 700;
}
.section-Contact-us-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}
.section-Contact-us-wrapper-left {
    width: 40%;
    display: flex;
    flex-direction: column;
    background: linear-gradient(270deg,  #ad5389 14%, #3c1053 68.5%);
    color: white;
}
.section-Contact-us-wrapper-left-email img {
    padding-top: 4%;
    padding-left: 10%;   
    filter: invert(1);
}
.section-Contact-us-wrapper-left-text {
    line-height: 190%;
    letter-spacing: 0.04em;
    padding-left: 5em; 
    margin-top: 2%;  
    font-size: 70%;
    
}
.section-Contact-us-wrapper-left img {
    max-width: 24px;
    float: left;
    margin: 1% 3%;
    filter: invert(1);
    
}
.section-Contact-us-wrapper-left-icon {
    padding-left: 10%;   
    margin-top: 40px;
}
.section-contactr-left-designer {
    margin-top: 20px;
    font-weight: 700;
    font-family: 'Ubuntu', sans-serif;
    padding-left: 3em;   
    margin-bottom: 2%;
    line-height: 25px;
    font-size: 1.3em;
}
.section-contactr-left-adres{
    font-family: 'Ubuntu', sans-serif;
    color: white;
   padding-left: 3em;   
   padding-bottom: 2%;
   font-size: 1.3em;
}
.section-Contact-us-wrapper-right {

    width: 40%;   
    padding: 20px;
    background-color: #ffffff;
}
form {
 
    display: flex;
    flex-direction: column;
    margin: 2%;
}
.section-Contact-us-wrapper-right p{
    font-size: 200%;
    color: purple;
}
form input, form textarea {
    
    padding: 1%;
    margin-top:2%;
    background: #FAFAFF;
    border-radius: 13px;
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    align-items: center;
}
footer {
    padding-top: 1%;
    text-align: center;
}